---
title: "Adopting Cloud Solutions: TrustID Implements ABBYY OCR for Enhanced Identity Verification"
date: 2024-08-25T23:35:00.301Z
updated: 2024-08-26T23:35:00.301Z
categories:
  - abbyy
thumbnail: https://thmb.techidaily.com/452ad4dc833c22f824c1e0bb341979346435ef6ab644bfbf893f7206f9b144d3.jpg
---

## Adopting Cloud Solutions: TrustID Implements ABBYY OCR for Enhanced Identity Verification

[Back to Newsroom](https://tools.techidaily.com/abbyy/products/)

## TrustID moves to the cloud for identity validation using ABBYY OCR

March 06, 2017

![ShutterStock](https://content.abbyy.com/-/media/project/abbyy/abbyy/branchtemplates/shutterstock_1272462163_1296-x-729.jpg?h=729&iar=0&w=1296)

#### _Document checking service business deploys ABBYY’s text recognition technology in its identity validation solution_

ABBYY, a leading global provider of technologies and solutions to action information, announced that [TrustID](http://trustid.co.uk/ "TrustID Website"), a provider of IT-based solutions for validation of personal identification documents, has chosen ABBYY OCR technology to power its TrustID Cloud service. Private and public-sector customers can use this service to validate ID documents presented to them and easily detect possible fraudulent actions.

TrustID Cloud was created to meet the needs of companies looking to process identity documents remotely. Typical scenarios include onboarding new customers, employees or tenants by scanning or photographing personal identification documents, such as passports, driving licences, biometric residence permits or visas. These images are uploaded into the TrustID Cloud for checking to support legal compliance with Right to Rent and Right to Work legislation, as well as Know Your Customer (KYC) and Anti-Money Laundering (AML) for financial services. The integrated ABBYY OCR technology is used to extract the name, date of birth, document number and other data, enabling the TrustID software to perform an automated validation check. The validation results appear to the user within just a few seconds.

“_A visual inspection of identity documents often leads to inconsistencies in the level of checking. This may mean that suspicious documents are more likely to be missed, resulting in an organisation not being compliant with legal requirements_,” said David Park, Commercial Director of TrustID. “_The fast and robust checks of TrustID Cloud quickly solve this challenge and ABBYY is the perfect match in this process. The excellent quality of ABBYY OCR software means that the data is extracted from identity documents with the highest accuracy. Therefore, the demand for human interaction is greatly reduced. This allows us to control our processing costs while maintaining excellent service and high levels of compliance and security._”

The TrustID Cloud solution meets the needs of customers looking to quickly process identity documents, even when working remotely. It offers the flexibility of a scalable system that is easy to deploy.

ABBYY offers its premium OCR technology for integration to independent software vendors, system integrators and business process outsources. The [ABBYY FineReader Engine](https://tools.techidaily.com/abbyy/products/) software development kit allows them to integrate optical text recognition technologies into their applications.The ABBYY recognition platform delivers award-winning OCR, intelligent character recognition (ICR), barcode, checkmark, field-level/zonal recognition and PDF conversion. It enables scanned documents and images to be automatically transformed into searchable and editable document formats.

“_ABBYY OCR technology adds value to applications used across many sectors. ID check is an important topic for organisations and TrustID’s cloud solution provides a high level of security to them_,” said Sven Diedrich, Director Business Unit Technology Licensing at ABBYY. “_We’re pleased to be helping TrustID take the next step towards reaching a wider market and making their services automated, more efficient and thus attractive for their customers.”_

#### About ABBYY

ABBYY is a leading global provider of technologies and solutions that help businesses to action information. The company sets the standard in content capture and innovative language-based technologies that integrate across the information lifecycle. ABBYY solutions are relied on to optimise business processes, mitigate risk, accelerate decision making and drive revenue. ABBYY technologies are used and licensed by some of the largest international enterprises and government organisations, as well as small and medium businesses and individuals. ABBYY Europe GmbH is a member of the ABBYY Group supporting sales and marketing activities in Western Europe. The ABBYY Group maintains offices in Germany, the UK, France, Spain, Ukraine, Cyprus, the United States, Canada, Australia, UAE, Japan and Taiwan. For more information, visit [www.ABBYY.com](https://tools.techidaily.com/abbyy/products/).

_ABBYY, the ABBYY Logo, FineReader, ADRT, FlexiCapture, FlexiLayout and Compreno are either registered trademarks or trademarks of ABBYY Software Ltd. Other product names mentioned herein may be trademarks and/or registered trademarks of their respective owners and are hereby recognised._

#### About TrustID

TrustID enables organisations to check identity with confidence, by providing electronic validation solutions that are easy to use and deliver consistent, reliable results. Available through a cloud service, mobile app or desktop platform, the product range is designed to make identity validation possible wherever checks are required, whether in the office or remotely, so any organisation, regardless of size, can increase compliance, counter fraud and protect their brand. For further information, visit [www.trustid.co.uk](http://www.trustid.co.uk/ "http://www.trustid.co.uk/").

#### For more information, please contact:

ABBYY  
Agata Zech-Fronc  
Elsenheimerstrasse 49   
80687 Munich, Germany   
E-Mail: press\_eu@abbyy.com  
Web: [www.abbyy.com](https://tools.techidaily.com/abbyy/products/) 

  
Connect with us

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<!-- affiliate ads begin -->
<a href="https://25home.pxf.io/c/5597632/2090698/16836" target="_top" id="2090698"><img src="//a.impactradius-go.com/display-ad/16836-2090698" border="0" alt="" width="720" height="300"/></a>
<!-- affiliate ads end -->
<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://screen-video-capture.techidaily.com/new-2024-approved-quick-guide-to-screen-capture-on-laptops-and-chromeos/"><u>[New] 2024 Approved  Quick Guide to Screen Capture on Laptops and ChromeOS</u></a></li>
<li><a href="https://facebook-video-share.techidaily.com/new-in-2024-expert-tips-for-memorable-youtube-names/"><u>[New] In 2024, Expert Tips for Memorable YouTube Names</u></a></li>
<li><a href="https://fox-http.techidaily.com/new-in-2024-the-pinnacle-of-media-excellence-top-phones-videos/"><u>[New] In 2024, The Pinnacle of Media Excellence  Top Phones Videos</u></a></li>
<li><a href="https://screen-capture.techidaily.com/new-maximize-fun-5-windows-11-gamers-recording-tactics/"><u>[New] Maximize Fun  5 Windows 11 Gamers' Recording Tactics</u></a></li>
<li><a href="https://article-files.techidaily.com/updated-ideal-6-networks-for-thriving-business-ventures/"><u>[Updated] Ideal 6 Networks for Thriving Business Ventures</u></a></li>
<li><a href="https://facebook-video-share.techidaily.com/updated-in-2024-a-symphony-in-silence-mastering-audio-with-precision/"><u>[Updated] In 2024, A Symphony in Silence  Mastering Audio with Precision</u></a></li>
<li><a href="https://facebook-video-content.techidaily.com/2024-approved-content-creation-on-facebook-aspect-ratio-choice/"><u>2024 Approved  Content Creation on Facebook  Aspect Ratio Choice</u></a></li>
<li><a href="https://ios-unlock.techidaily.com/3-ways-to-unlock-iphone-se-2020-without-passcode-or-face-id-by-drfone-ios/"><u>3 Ways to Unlock iPhone SE (2020) without Passcode or Face ID</u></a></li>
<li><a href="https://solve-latest.techidaily.com/nsdabbyy/"><u>株式会社NSDとABBYYジャパンが認定パートナー関俁契約に至る:業界最新ニュース</u></a></li>
<li><a href="https://solve-latest.techidaily.com/abbyy-flexicapture-mit-ml-integration-letzte-entwicklungen-bei-der-datenabfrage/"><u>ABBYY FlexiCapture Mit ML-Integration - Letzte Entwicklungen Bei Der Datenabfrage</u></a></li>
<li><a href="https://solve-latest.techidaily.com/abbyy-flexicapture-blue-prism-connection-expert-tutorial-on-utilizing-powerful-integration-tools/"><u>ABBYY FlexiCapture-Blue Prism Connection: Expert Tutorial on Utilizing Powerful Integration Tools</u></a></li>
<li><a href="https://solve-latest.techidaily.com/abbyy-mobile-ocr-scanner-enhanced-productivity-on-iphone-and-ipad/"><u>ABBYY Mobile OCR Scanner: Enhanced Productivity on iPhone and iPad</u></a></li>
<li><a href="https://solve-latest.techidaily.com/abbyy-und-der-schatz-der-prozessintelligenz-erkenntnisse-aufdecken/"><u>ABBYY Und Der Schatz Der Prozessintelligenz: Erkenntnisse Aufdecken</u></a></li>
<li><a href="https://solve-latest.techidaily.com/advancing-personalization-solutions-powered-by-cookiebot/"><u>Advancing Personalization: Solutions Powered by Cookiebot</u></a></li>
<li><a href="https://solve-latest.techidaily.com/announcing-paul-nizov-the-latest-addition-as-abbyys-chief-information-security-officer/"><u>Announcing Paul Nizov: The Latest Addition as ABBYY's Chief Information Security Officer</u></a></li>
<li><a href="https://solve-latest.techidaily.com/boost-your-site-traffic-with-cutting-edge-cookiebot-technology/"><u>Boost Your Site Traffic with Cutting-Edge Cookiebot Technology</u></a></li>
<li><a href="https://solve-latest.techidaily.com/boost-your-site-with-cookiebots-advanced-tracking-technology/"><u>Boost Your Site with Cookiebot's Advanced Tracking Technology</u></a></li>
<li><a href="https://solve-latest.techidaily.com/boost-your-traffic-with-automated-cookie-tracking-discover-the-secret-behind-successful-site-analytics/"><u>Boost Your Traffic with Automated Cookie Tracking: Discover the Secret Behind Successful Site Analytics!</u></a></li>
<li><a href="https://solve-latest.techidaily.com/boost-your-traffic-with-the-advanced-cookiebot-solutions/"><u>Boost Your Traffic with the Advanced Cookiebot Solutions</u></a></li>
<li><a href="https://solve-latest.techidaily.com/cookiebot-driven-insights-enhance-your-data-tracking/"><u>Cookiebot-Driven Insights: Enhance Your Data Tracking</u></a></li>
<li><a href="https://solve-latest.techidaily.com/cookiebot-driven-website-optimization-techniques/"><u>Cookiebot-Driven Website Optimization Techniques</u></a></li>
<li><a href="https://solve-latest.techidaily.com/cookiebot-enabled-enhance-your-sites-analytics-and-conversions/"><u>Cookiebot-Enabled: Enhance Your Site's Analytics and Conversions</u></a></li>
<li><a href="https://solve-latest.techidaily.com/cookiebot-enabled-enhance-your-sites-user-experience-with-advanced-tracking-tools/"><u>Cookiebot-Enabled: Enhance Your Site's User Experience with Advanced Tracking Tools</u></a></li>
<li><a href="https://ai-vdieo-software.techidaily.com/cut-color-and-create-top-iphone-video-editing-apps-for-2024/"><u>Cut, Color, and Create Top iPhone Video Editing Apps for 2024</u></a></li>
<li><a href="https://solve-latest.techidaily.com/honoring-data-privacy-day-201/"><u>Honoring Data Privacy Day 201</u></a></li>
<li><a href="https://solve-latest.techidaily.com/improving-corporate-performance-how-ai-and-advanced-automation-contribute-to-successful-outcomes/"><u>Improving Corporate Performance: How AI and Advanced Automation Contribute to Successful Outcomes</u></a></li>
<li><a href="https://fox-friendly.techidaily.com/in-2024-best-4k-gaming-laptops/"><u>In 2024, Best 4K Gaming Laptops</u></a></li>
<li><a href="https://iphone-unlock.techidaily.com/in-2024-things-you-should-know-when-unlocking-total-wireless-of-iphone-12-pro-max-drfone-by-drfone-ios/"><u>In 2024, Things You Should Know When Unlocking Total Wireless Of iPhone 12 Pro Max | Dr.fone</u></a></li>
<li><a href="https://solve-latest.techidaily.com/intelligente-automatisierung-mit-dem-neu-eingefuhrten-globalen-abbyy-one-partner-programm-starkung-von-netzwerken/"><u>Intelligente Automatisierung Mit Dem Neu Eingeführten Globalen ABBYY One Partner Programm - Stärkung Von Netzwerken</u></a></li>
<li><a href="https://solve-latest.techidaily.com/limpact-de-lia-sur-le-devouement-au-travail-acces-simplifie-aux-donnees-contraires-documents/"><u>L'impact De L'IA Sur Le Dévouement Au Travail | Accès Simplifié Aux Données Contraires Documents</u></a></li>
<li><a href="https://solve-latest.techidaily.com/launch-of-version-2-enhanced-features-in-the-latest-abbyy-flexicapture-software-update/"><u>Launch of Version 2: Enhanced Features in the Latest ABBYY FlexiCapture Software Update</u></a></li>
<li><a href="https://solve-latest.techidaily.com/maximize-online-presence-through-automated-marketing-driven-by-cutting-edge-cookiebot-technology/"><u>Maximize Online Presence Through Automated Marketing - Driven by Cutting-Edge Cookiebot Technology</u></a></li>
<li><a href="https://solve-latest.techidaily.com/streamlining-document-processes-the-success-of-the-turkish-ministry-with-abbyy-solutions/"><u>Streamlining Document Processes: The Success of the Turkish Ministry with ABBYY Solutions</u></a></li>
<li><a href="https://extra-information.techidaily.com/streamstart-beginner-friendly-podcast-live-broadcast-guide/"><u>StreamStart  Beginner-Friendly Podcast Live Broadcast Guide</u></a></li>
</ul></div>
