---
title: "Adopting Cloud Solutions: TrustID Implements ABBYY OCR for Enhanced Identity Verification"
date: 2024-09-29T16:47:36.043Z
updated: 2024-09-30T18:40:49.938Z
categories:
  - abbyy
thumbnail: https://thmb.techidaily.com/452ad4dc833c22f824c1e0bb341979346435ef6ab644bfbf893f7206f9b144d3.jpg
---

## Adopting Cloud Solutions: TrustID Implements ABBYY OCR for Enhanced Identity Verification

[Back to Newsroom](https://tools.techidaily.com/abbyy/products/)

## TrustID moves to the cloud for identity validation using ABBYY OCR

March 06, 2017

![ShutterStock](https://content.abbyy.com/-/media/project/abbyy/abbyy/branchtemplates/shutterstock_1272462163_1296-x-729.jpg?h=729&iar=0&w=1296)

#### _Document checking service business deploys ABBYY’s text recognition technology in its identity validation solution_

ABBYY, a leading global provider of technologies and solutions to action information, announced that [TrustID](http://trustid.co.uk/ "TrustID Website"), a provider of IT-based solutions for validation of personal identification documents, has chosen ABBYY OCR technology to power its TrustID Cloud service. Private and public-sector customers can use this service to validate ID documents presented to them and easily detect possible fraudulent actions.

TrustID Cloud was created to meet the needs of companies looking to process identity documents remotely. Typical scenarios include onboarding new customers, employees or tenants by scanning or photographing personal identification documents, such as passports, driving licences, biometric residence permits or visas. These images are uploaded into the TrustID Cloud for checking to support legal compliance with Right to Rent and Right to Work legislation, as well as Know Your Customer (KYC) and Anti-Money Laundering (AML) for financial services. The integrated ABBYY OCR technology is used to extract the name, date of birth, document number and other data, enabling the TrustID software to perform an automated validation check. The validation results appear to the user within just a few seconds.

“_A visual inspection of identity documents often leads to inconsistencies in the level of checking. This may mean that suspicious documents are more likely to be missed, resulting in an organisation not being compliant with legal requirements_,” said David Park, Commercial Director of TrustID. “_The fast and robust checks of TrustID Cloud quickly solve this challenge and ABBYY is the perfect match in this process. The excellent quality of ABBYY OCR software means that the data is extracted from identity documents with the highest accuracy. Therefore, the demand for human interaction is greatly reduced. This allows us to control our processing costs while maintaining excellent service and high levels of compliance and security._”

The TrustID Cloud solution meets the needs of customers looking to quickly process identity documents, even when working remotely. It offers the flexibility of a scalable system that is easy to deploy.

ABBYY offers its premium OCR technology for integration to independent software vendors, system integrators and business process outsources. The [ABBYY FineReader Engine](https://tools.techidaily.com/abbyy/products/) software development kit allows them to integrate optical text recognition technologies into their applications.The ABBYY recognition platform delivers award-winning OCR, intelligent character recognition (ICR), barcode, checkmark, field-level/zonal recognition and PDF conversion. It enables scanned documents and images to be automatically transformed into searchable and editable document formats.

“_ABBYY OCR technology adds value to applications used across many sectors. ID check is an important topic for organisations and TrustID’s cloud solution provides a high level of security to them_,” said Sven Diedrich, Director Business Unit Technology Licensing at ABBYY. “_We’re pleased to be helping TrustID take the next step towards reaching a wider market and making their services automated, more efficient and thus attractive for their customers.”_

#### About ABBYY

ABBYY is a leading global provider of technologies and solutions that help businesses to action information. The company sets the standard in content capture and innovative language-based technologies that integrate across the information lifecycle. ABBYY solutions are relied on to optimise business processes, mitigate risk, accelerate decision making and drive revenue. ABBYY technologies are used and licensed by some of the largest international enterprises and government organisations, as well as small and medium businesses and individuals. ABBYY Europe GmbH is a member of the ABBYY Group supporting sales and marketing activities in Western Europe. The ABBYY Group maintains offices in Germany, the UK, France, Spain, Ukraine, Cyprus, the United States, Canada, Australia, UAE, Japan and Taiwan. For more information, visit [www.ABBYY.com](https://tools.techidaily.com/abbyy/products/).

_ABBYY, the ABBYY Logo, FineReader, ADRT, FlexiCapture, FlexiLayout and Compreno are either registered trademarks or trademarks of ABBYY Software Ltd. Other product names mentioned herein may be trademarks and/or registered trademarks of their respective owners and are hereby recognised._

#### About TrustID

TrustID enables organisations to check identity with confidence, by providing electronic validation solutions that are easy to use and deliver consistent, reliable results. Available through a cloud service, mobile app or desktop platform, the product range is designed to make identity validation possible wherever checks are required, whether in the office or remotely, so any organisation, regardless of size, can increase compliance, counter fraud and protect their brand. For further information, visit [www.trustid.co.uk](http://www.trustid.co.uk/ "http://www.trustid.co.uk/").

#### For more information, please contact:

ABBYY  
Agata Zech-Fronc  
Elsenheimerstrasse 49   
80687 Munich, Germany   
E-Mail: press\_eu@abbyy.com  
Web: [www.abbyy.com](https://tools.techidaily.com/abbyy/products/) 

  
Connect with us

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://screen-capture.techidaily.com/new-2024-approved-music-device-innovations-spotlighted/"><u>[New] 2024 Approved Music Device Innovations Spotlighted</u></a></li>
<li><a href="https://article-knowledge.techidaily.com/new-flavorful-filmmaking-top-7-strategies-for-culinary-videos/"><u>[New] Flavorful Filmmaking Top 7 Strategies for Culinary Videos</u></a></li>
<li><a href="https://fox-cloud.techidaily.com/updated-unveiling-the-secrets-of-av1-codec-mastery-for-2024/"><u>[Updated] Unveiling the Secrets of AV1 Codec Mastery for 2024</u></a></li>
<li><a href="https://screen-activity-recording.techidaily.com/2024-approved-essential-tech-for-effective-pc-image-capture-the-5-best/"><u>2024 Approved Essential Tech for Effective PC Image Capture, The 5 Best</u></a></li>
<li><a href="https://howto.techidaily.com/best-methods-for-nokia-130-music-wont-turn-on-drfone-by-drfone-fix-android-problems-fix-android-problems/"><u>Best Methods for Nokia 130 Music Wont Turn On | Dr.fone</u></a></li>
<li><a href="https://solve-latest.techidaily.com/enhanced-website-functionality-using-advanced-cookiebot-solutions/"><u>Enhanced Website Functionality Using Advanced Cookiebot Solutions</u></a></li>
<li><a href="https://solve-latest.techidaily.com/enhancing-citizen-engagement-and-trust-strategies-to-curtail-fraud-in-public-sector-services/"><u>Enhancing Citizen Engagement and Trust: Strategies to Curtail Fraud in Public Sector Services</u></a></li>
<li><a href="https://solve-latest.techidaily.com/enhancing-client-experience-through-abbyys-advanced-process-insights-by-emerson/"><u>Enhancing Client Experience Through ABBYY's Advanced Process Insights by Emerson</u></a></li>
<li><a href="https://solve-latest.techidaily.com/erweiterte-prozessautomatisierung-mit-abbyy-fortschrittliche-outsourcing-strategien-prasentiert-bei-den-shared-services-and-outsourcing-tagesspielen/"><u>Erweiterte Prozessautomatisierung Mit ABBYY - Fortschrittliche Outsourcing Strategien Präsentiert Bei Den Shared Services & Outsourcing Tagesspielen</u></a></li>
<li><a href="https://solve-latest.techidaily.com/financial-innovation-at-costain-leveraging-abbyy-content-intelligence-for-departmental-transformation/"><u>Financial Innovation at Costain: Leveraging ABBYY Content Intelligence for Departmental Transformation</u></a></li>
<li><a href="https://solve-latest.techidaily.com/gerez-vos-factures-en-un-clin-doeil-grace-a-la-solution-abbyy-le-partenaire-ideal-pour-les-associations-de-logement-a-grande-echelle/"><u>Gérez Vos Factures en Un Clin D'œil Grâce À La Solution ABBYY : Le Partenaire Idéal Pour Les Associations De Logement À Grande Échelle</u></a></li>
<li><a href="https://solve-latest.techidaily.com/harness-the-power-of-visitor-insights-with-our-cookiebot-driven-technology-solutions/"><u>Harness the Power of Visitor Insights with Our Cookiebot-Driven Technology Solutions</u></a></li>
<li><a href="https://solve-latest.techidaily.com/harnessing-the-power-of-cookiebot-technology-for-advanced-website-tracking-and-seo-insights/"><u>Harnessing the Power of Cookiebot Technology for Advanced Website Tracking and SEO Insights</u></a></li>
<li><a href="https://solve-latest.techidaily.com/harnessing-the-power-of-cookiebot-boost-your-sites-seo-and-engagement-metrics-efficiently/"><u>Harnessing the Power of Cookiebot: Boost Your Site's SEO & Engagement Metrics Efficiently</u></a></li>
<li><a href="https://some-approaches.techidaily.com/in-2024-the-ultimate-guide-to-simple-grading-tactics/"><u>In 2024, The Ultimate Guide to Simple Grading Tactics</u></a></li>
<li><a href="https://techno-recovery.techidaily.com/maximize-engagement-with-these-highly-effective-instagram-tags/"><u>Maximize Engagement with These Highly Effective Instagram #Tags</u></a></li>
<li><a href="https://tech-renaissance.techidaily.com/professional-tips-and-tricks-to-ensure-a-clean-background-in-your-next-google-meet-call/"><u>Professional Tips and Tricks to Ensure a Clean Background in Your Next Google Meet Call</u></a></li>
<li><a href="https://extra-hints.techidaily.com/reclaiming-one-headphone-harmony/"><u>Reclaiming One-Headphone Harmony</u></a></li>
<li><a href="https://extra-information.techidaily.com/revolutionary-srt-adjustments-unleash-potential-on-both-oses/"><u>Revolutionary SRT Adjustments Unleash Potential on Both OSes</u></a></li>
</ul></div>

<!-- affiliate ads begin -->
<a href="https://25home.pxf.io/c/5597632/2148635/16836" target="_top" id="2148635">
  <img src="//a.impactradius-go.com/display-ad/16836-2148635" border="0" alt="https://techidaily.com" width="120" height="90"/>
</a>
<img height="0" width="0" src="https://25home.pxf.io/i/5597632/2148635/16836" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->

